.grid-overlay {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 999999;
  max-width: var(--containerMaxW);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5rem;

  padding-left: var(--containerPadding);
  padding-right: var(--containerPadding);

  background: rgba(255, 0, 255, 0.03);
}

.grid-overlay .col {
  background: rgba(255, 0, 255, 0.12);
  mix-blend-mode: multiply;
  border-left: 1px solid rgba(255, 0, 255, 0.25);
  border-right: 1px solid rgba(255, 0, 255, 0.25);
}
