$icon-receipt: "\e902";
$icon-caution: "\e900";
$icon-happy-face: "\e901";
$icon-restaurant: "\e918";
$icon-takeout: "\e919";
$icon-arrow-up-circle: "\e91a";
$icon-arrow-left-circle: "\e91b";
$icon-arrow-right-circle: "\e91c";
$icon-arrow-down-circle: "\e91d";
$icon-arrow-left-active: "\e903";
$icon-arrow-left-border: "\e904";
$icon-arrow-right-active: "\e906";
$icon-arrow-right-border: "\e908";
$icon-arrow-up-border: "\e909";
$icon-number-1: "\e90c";
$icon-number-2: "\e90d";
$icon-number-3: "\e90e";
$icon-number-4: "\e90f";
$icon-number-5: "\e910";
$icon-number-6: "\e912";
$icon-number-7: "\e913";
$icon-number-8: "\e914";
$icon-number-9: "\e915";
$icon-number-10: "\e916";
$icon-chevron-down: "\e602";
$icon-chevron-left: "\e603";
$icon-chevron-right: "\e604";
$icon-chevron-up: "\e605";
$icon-thin-chevron-down: "\e606";
$icon-thin-chevron-left: "\e607";
$icon-thin-chevron-right: "\e608";
$icon-thin-chevron-up: "\e609";
$icon-minus: "\e610";
$icon-plus: "\e611";
$icon-yelp: "\e613";
$icon-play: "\e907";
$icon-close1: "\e905";
$icon-camera: "\e911";
$icon-phone: "\e942";
$icon-marker: "\e947";
$icon-link: "\e9cb";
$icon-facebook: "\ea90";
$icon-facebook-square: "\ea91";
$icon-instagram: "\ea92";
$icon-twitter: "\ea96";
$icon-youtube: "\ea9d";
$icon-linkedin: "\eaca";