@font-face {
  font-family: "Figure";
  src: url("/fonts/figure.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("/fonts/HankenGrotesk-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Antiga";
  src: url("/fonts/Antiga-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: "Hanken Grotesk";
  src: url("/fonts/HankenGrotesk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* SemiBold */
@font-face {
  font-family: "Hanken Grotesk";
  src: url("/fonts/HankenGrotesk-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'me';
	src: url(/fonts/icomoon.woff) format('woff');
	font-display: block;
}